<!DOCTYPE html>
<html lang="pt-br" class="theme-dark">
{%include 'head.html'%}


<body>
  <form action="/criar_filmes" method="post">
    <section class="section">
      <div class="container">
        <div class="field">
          <label class="label">Nome do Filme</label>
          <div class="control">
            <input class="input" type="text" name="nome" placeholder="Digite o nome" />
          </div>
        </div>

        <div class="field">
          <label class="label">Digite a sinopse do filme</label>
          <div class="control">
            <textarea class="textarea" placeholder="Sinopse" name="sinopse"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Escolha a classificação Indicativa</label>
          <div class="control">
            <div class="select">
              <select name="classificacao">
                <option value="livre">Livre</option>
                <option value="14">14 Anos</option>
                <option value="16">16 Anos</option>
                <option value="16">18 Anos</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Cole o link da URL da capa</label>
          <div class="control">
            <input class="input" type="text" name="capa" placeholder="Digite a URL da capa" />
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Adicionar Filme</button>
          </div>
        </div>
      </div>
    </section>
  </form>
</body>

</html>