<!DOCTYPE html>
<html lang="pt-br" class="theme-dark">
{%include "head.html"%}

<body>

    <section class="section">
        <div class="container">
            <div class="fixed-grid has-10-cols">
                <div class="grid">
                    {% for i in range(1,151) %}
                    {% if i in ingressos %}
                    <img src="/static/img/SVG_VERMELHO.svg">
                    {% else %}
                    <a href="/cadeira/{{sessao}}/{{i}}">
                        <img src="/static/img/SVG_VERDE.svg">
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            /* 10 colunas */
            gap: 10px;
        }

        .grid img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            /* Para garantir que a imagem se ajuste corretamente */
        }

        .grid a {
            display: block;
        }
    </style>

</body>