<!DOCTYPE html>
<html lang="pt-br" class="theme-dark">
{%include "head.html"%}



<body>
    {%include "flash.html"%}

    <form method="post">
        <section class="section">
            <div class="container">
                

                <div class="field">
                    <label class="label">Digite seu email</label>
                    <div class="control">
                        <input class="input" type="email" name="email" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Digite sua senha</label>
                    <div class="control">
                        <input class="input" type="password" name="senha" />
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Entrar</button>
                        <a href="/registro" class="button is-link">Não tenho uma conta</a>
                    </div>
                </div>
            </div>
        </section>
    </form>

</body>

</html>