<nav class="navbar is-black">
  <div class="navbar-brand">
    <a href="/" class="has-text-white"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 100" width="150"
        height="60">
        <!-- Fundo transparente -->
        <rect width="250" height="100" fill="transparent" />

        <!-- Rolo de filme -->
        <circle cx="50" cy="50" r="30" stroke="currentColor" stroke-width="5" fill="none" />

        <!-- Linhas do filme -->
        <line x1="50" y1="20" x2="50" y2="80" stroke="currentColor" stroke-width="3" />
        <line x1="20" y1="50" x2="80" y2="50" stroke="currentColor" stroke-width="3" />
        <line x1="35" y1="35" x2="65" y2="65" stroke="currentColor" stroke-width="3" />
        <line x1="35" y1="65" x2="65" y2="35" stroke="currentColor" stroke-width="3" />

        <!-- Texto "Cinestudio" ao lado direito -->
        <text x="110" y="50" font-family="Arial" font-size="28" text-anchor="start" alignment-baseline="middle"
          fill="currentColor">
          Cinestudio
        </text>
      </svg>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        {% if not session["usuario"] %}
        <a href="/login" class="button is-link">Já tenho uma conta</a>
        <a href="/registro" class="button is-link">Não tenho uma conta</a>
        {% else %}
        <a href="/sair" class="button is-link">Sair</a>
        <a href="/ver_meus_ingressos" class="button is-link">Reembolso de Ingressos</a>
        {% endif %}
        {% if session["usuario"]==1 %}
        <a href="/criar_filmes" class="button is-link">Adicionar Filme</a>
        <a href="/listar_filmes" class="button is-link">Listar Filmes</a>
        {% endif %}


      </div>
    </div>
  </div>
</nav>