<!DOCTYPE html>
<html lang="pt-br" class="theme-dark">
{%include "head.html"%}

<body>
    {%include "navybar.html"%}
    {%include "flash.html"%}


    <section class="section full-height">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-narrow has-text-centered">
                    <h1 class="title ">Clique na cadeira que você deseja reembolsar (vermelhas)</h1>

                </div>
            </div>
        </div>
    </section>

    <!DOCTYPE html>
    <html lang="pt-br" class="theme-dark">
    {%include "head.html"%}

    <body>

        <section class="section">
            <div class="container">
                <div class="fixed-grid has-10-cols">
                    <div class="grid">
                        {% for i in range(1,151) %}
                        {% if i in ingressos %}
                        <a href="/reembolsar/{{i}}">
                            <img src="/static/img/SVG_VERMELHO.svg">
                        </a>
                        {% else %}
                        <img src="/static/img/SVG_VERDE.svg">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <style>
            .grid {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                /* 10 colunas */
                gap: 10px;
            }

            .grid img {
                width: 45px;
                height: 30px;
                object-fit: contain;
                /* Para garantir que a imagem se ajuste corretamente */
            }

            .grid a {
                display: block;
            }
        </style>




    </body>

    </html>